/Task6/Hotel-Configuration/build/
/Task6/Hotel-Configuration/dist/
/Task6/Hotel-Configuration/nbproject/private/
/Task6/Hotel-facade/build/
/Task6/Hotel-facade/dist/
/Task6/Hotel-facade/nbproject/private/
/Task6/Hotel-model/build/
/Task6/Hotel-model/dist/
/Task6/Hotel-model/nbproject/private/
/Task6/Hotel-service/build/
/Task6/Hotel-service/dist/
/Task6/Hotel-service/nbproject/private/
/Task6/Hotel-store/build/
/Task6/Hotel-store/dist/
/Task6/Hotel-store/nbproject/private/
/Task6/Hotel-ui/build/
/Task6/Hotel-ui/dist/
/Task6/Hotel-ui/nbproject/private/
/Task6/Hotel-utils/build/
/Task6/Hotel-utils/dist/
/Task6/Hotel-utils/nbproject/private/