.manufacturer-item {
    padding: 1.5em;
    border-bottom: 1px solid #d9d9d9;
}
        
.ui-g > div {
    padding: .4em;
}

.ui-g .ui-g-10 {
    font-weight: bold;
}

@media (max-width: 40em) {
    .manufacturer-details {
        text-align:center;
    }
}
button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 600px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }
  button.update {
    position: relative;
    left: 600px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }